/* Nuestro CSS para no tener que cambiar los otros */

.logo-home{
	width: 256px;
	height: 256px;
}

.row{
	margin-top:50px;
}

#about ul li a{
	color:white;
	font-size:20px;
	text-decoration:none;
}

#portfolio .row h2{
	font-size:28px;
}

#portfolio .row h1{
	text-align:center;
}

.respuesta{
	text-align:center;
}

.formulariocoches{
	background-image:url("../img/restaurant.png");
	padding:15px;
	border-radius: 15px;
	width:35%;
	float:left;
}

.formulariocoches input{
	border-radius: 5px;
	border:none;
	padding:5px;
	
}

.derechaformulario{
	background-image:url("http://www.coches.com/fotos_historicas/seat/Ibiza-Cupra-Facelift-2006/seat_ibiza-cupra-2006_r15.jpg");
	width:58%;
	float:left;
	height: 335px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 55px;
    background-position: 100% 93%;
}

.sessionbar{
	color:white;
	float:right;
	width:200px;
}

.sessionbar img{
	width:60px;
}

body{
  padding:0;
  margin:0;
}
.vid-container{
  position:relative;
  height:720px;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 250px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.button{
  background:#2ecc71 !important;
  border:0 !important;
  color:#fff !important;
  padding:10px !important;
  font-size:20px !important;
  width:330px !important;
  margin:20px auto !important;
  display:block !important;
  cursor:pointer !important;
}
.button:active{
  background:#27ae60 !important;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

/*Pagina 500*/

.video500{
	margin:0px;	
}

.cajonvideo500{
	width:100%;
	height:710px;
	margin-top:92px;
}



/*Pagina 404*/

@import url(http://fonts.googleapis.com/css?family=Raleway:300);

$color1: white;
$color2: #342643;
$color3: #1FA9D6;

*, *:before, *:after {
  box-sizing: border-box;
}
html {
    height: 100%;
}
.background404 {
    background: url(https://media.giphy.com/media/VhJjZ8Yt3WqbK/source.gif) no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-color: $color2; 
    height: 100%;
}

.text-wrapper {
    height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
    font-size: 9em;
    font-weight: 700;
    color: white;
    position:relative;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: white;
    position:relative;
}

.botons {
    margin: 30px;
    padding-top:700px; 
}

.boton {
        font-weight: 700;
        border: 2px solid white;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        color: white;
        border-radius: 26px;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            background-color: lighten($color2, 10%);
            color: white;
            transition: all 0.2s ease-in-out;
      	}
}

// Glitch animation from http://codepen.io/lbebber/pen/ypgql
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(200)+px,0);
    }
  }
}
.subtitle:after, .title:after{
  content:attr(data-content);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:$color1;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(200)+px,0);
    }
  }
}
.subtitle:before, .title:before{
  content:attr(data-content);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:$color1;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

