/* Nuestro CSS para no tener que cambiar los otros */

.logo-home{
	width: 256px;
	height: 256px;
}
#about ul a{
	color:#fff;
	font-size:1.5em;
}
#mi-primer-controlador div {
	
	padding: 10px;
}
#mi-primer-controlador p{
	
	padding: 10px;
}
